.search-menu{
    width: 45%;
    height: 30vw;
}

.scroll-menu {
    width: 100%;
    height: 90%;
    background-color: rgb(43, 46, 49);
    overflow-y:scroll; 
    position:relative;
}
  
.searchbar{
    height: 10%;
    width: 100%;
    background-color: rgb(27, 27, 27);
    color:rgb(240, 223, 191);
}
.scroll-menu a {
    display: block;
    padding: 12px;
    text-decoration: none;
}

.study-container{
    /* padding-bottom: 10px; */
    background-color:none;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}
.study-container> span{
    border-bottom: solid 3px rgb(27, 27, 27);
    width: 90%;
    display: table;
    margin: 0 auto;
    padding-top: 3px;
    padding-bottom: 3px;
}
.modif{
    padding: 4px;

}
.modif:hover{
    color:rgb(126, 106, 106);
}
.study-container *{
    color:rgb(179, 169, 169);
}
.study-container p {
    justify-content: center;
}
.study-container:hover{
    background-color: rgb(29, 31, 32);
}
.modif{
    background-color: inherit;
    border-radius: inherit;
} 

.indisponible{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.indisponible>h1{
    color: rgb(179, 169, 169);;
}